body{
    width: 100%;
    margin: 30px;
    background-color: antiquewhite;
}
#profil-conteiner{
    max-width: 300px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 6px;
}
#profil-image{
    width: 100%;
    height: auto;
}
#profile-name{
    text-align: center;
}